section#page_wrapper.screen


	.about-photo
		span.text_tittle About
		.img-wrapper
			div(style="background-image: url('img.jpg')")


	.about-discription
		span.text_tittle
			p.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et elit ante.
				Sed eget laoreet dolor. Ut nec leo et tortor rutrum tempor. Mauris dui massa, condimentum
				sodales ex vitae, dapibus laoreet elit. Maecenas ex diam, dictum et interdum quis, lacinia
				non magna. Proin imperdiet felis turpis, ut egestas dolor blandit id. Vivamus varius enim nulla,
				ac porta libero egestas et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.contact
			span.text_email
				p Lets talk.
				br Send-me a
				a(href="mail:to") Email.

			.detail_email

		.socilmidia
			ul.navigation_list
				li.navigation_list_item
					a.navigation_list_link(href="/intro") Instagram
					.detail-instagram

				.serapation

				li.navigation_list_item
					a.navigation_list_link(href="/about") Twiter or X
					.detail-twitter

				.serapation

				li.navigation_list_item
					a.navigation_list_link(href="/misc") LinkedIn
					.detail-linkedin
