section#page_wrapper.screen
	.intro
		.intro_line_01
			.mover
				.mover_clip
					span#item01.navigation_list
					|Polymath

					span#item02.navigation_list
					|Motion

					span#item03.navigation_list
					|Type

					span#item04.navigation_list
					|UX

					span#item05.navigation_list
					|Visual

			.text("tittle", "designer, in a")
			span.text designer, in a


		.intro_line_02
			span.line_02 relationship with interactivity.

	button.button_with_icon(href="#project")
		span.button_text See my works

				svg.icon

