section.intro
	.intro__wrapper
		.intro__line__01
			.intro__clip
				.intro__mover
					each item in home[0].data.role
						span.intro__role(class=`home__gallery__media--${index % 5 + 1}`)=item.designer


			each item in home[0].data.intro
				span.intro__text__line=item.line_01

		.intro__line__02
			each item in home[0].data.intro
				span.intro__text__line=item.line_02

		button.intro__button
			a.intro__button__text(href="#project")=home[0].data.button

					//- svg.intro__icon

