section.misc


	.misc__title
		span.misc__title__text Misc


	.misc__wrapper
		.misc__navigation
			button.misc__seta__wrapper__left#arrow
				svg.misc__icon__left(width="54" height="16" viewBox="0 0 54 16" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M0.292893 8.7073C-0.0976312 8.31677 -0.0976312 7.68361 0.292893 7.29308L6.65685 0.929123C7.04738 0.538599 7.68054 0.538599 8.07107 0.929123C8.46159 1.31965 8.46159 1.95281 8.07107 2.34334L2.41421 8.00019L8.07107 13.6571C8.46159 14.0476 8.46159 14.6807 8.07107 15.0713C7.68054 15.4618 7.04738 15.4618 6.65685 15.0713L0.292893 8.7073ZM54 9.00019H0.999999V7.00019H54V9.00019Z", fill="#006DEC")

			button.misc__seta__wrapper__right#arrow
				svg.misc__icon__right(width="54" height="16" viewBox="0 0 54 16" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M53.7071 8.70711C54.0976 8.31658 54.0976 7.68342 53.7071 7.29289L47.3431 0.928932C46.9526 0.538408 46.3195 0.538408 45.9289 0.928932C45.5384 1.31946 45.5384 1.95262 45.9289 2.34315L51.5858 8L45.9289 13.6569C45.5384 14.0474 45.5384 14.6805 45.9289 15.0711C46.3195 15.4616 46.9526 15.4616 47.3431 15.0711L53.7071 8.70711ZM0 9L53 9V7L0 7L0 9Z" fill="#006DEC")


		.misc__gallery__wrapper
			each item in home[2].data.gallery
				figure.misc__gallery__media(class=`home__gallery__media--${index % 3 + 1}`)
					img.misc__gallery__media__image(alt=item.misc_images.alt src=item.misc_images.url)


	.slider__scrollbar
		.scrollbar__track
			.scrollbar__thumb

