section.misc_wrapper
	.gallery
		.misc_title
			span.title Misc



		.gallery__wrapper
			each item in home[2].data.gallery
				figure.misc__gallery__media(class=`home__gallery__media--${index % 3 + 1}`)
					img.about__gallery__media__image(alt=item.misc_images.alt src=item.misc_images.url)
		.seta__wrapper
			svg.icon
