.misc_wrapper
	.misc_title
		span.title  Misc

	.gallery-wrapper
		img1(src='images/', alt='texto alt')
		img2(src='images/', alt='texto alt')
		img3(src='images/', alt='texto alt')
		img4(src='images/', alt='texto alt')
	.seta-wrapper
		svg.icon


