nave.navigation
	.navigation_wrapper
		a.navigation_logo(href="/")
			| unk
			svg.navigation_link_icon

		.navigation_base
			ul.navigation_list
				li.navigation_list_item
					a.navigation_list_link(href="#intro") intro

				li.navigation_list_item
					a.navigation_list_link(href="#about") work

				li.navigation_list_item
					a.navigation_list_link(href="#misc") Misc

				li.navigation_list_item
					a.navigation_list_link(href="#about") About
				.selector_menu
