nave.navigation
	.navigation__wrapper
		a.navigation__logo(href="/")
			| unk
			svg.navigation___icon

		.navigation__base
			ul.navigation__list
				li.navigation__list__item
					a.navigation__list__link(href="#intro") intro

				li.li.navigation__list__item
					a.navigation__list__link(href="#about") work

				li.li.navigation__list__item
					a.navigation__list__link(href="#misc") Misc

				li.li.navigation__list__item
					a.navigation__list__link(href="#about") About
			.navigation__selector__menu
