

//- código aleátorio
- var randomIndex = Math.floor(Math.random() * similars.results.length);

section.next
	.next__box
		.next__box__wrapper
			.next__box__tittle
				span.next__text__tittle=similars.results[randomIndex].data.name

			.next__box__type
				span.next__project-type=similars.results[randomIndex].data.type

			.next__box__description
				span.next__text__discription=similars.results[randomIndex].data.description

			button.next__button__arrow(href='/projects/' + similars.results[randomIndex].uid)
				span.next__button__text
					| See more
			figure.next__icon__arrow
				svg
