section#page_wrapper.screen
	.project_wrapper
		.project
			span.text_tittle Tittle
			.discription_type
				span.project-type  type
			span.text_discription
				p.
					Over 200 languages (and growing) supported, made to be a unique system for both
					written and graphical communication, and you can still write using.
		.img-wrapper
			div(style="background-image: url('img.jpg')")
