svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
	mask(id="mask0_469_175" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24")
		rect(width="24" height="24" fill="#D9D9D9")
	g(mask="url(#mask0_469_175)")
		path(d="M0.292893 11.2929C-0.0976311 11.6834 -0.0976311 12.3166 0.292893 12.7071L6.65685 19.0711C7.04738 19.4616 7.68054 19.4616 8.07107 19.0711C8.46159 18.6805 8.46159 18.0474 8.07107 17.6569L2.41421 12L8.07107 6.34315C8.46159 5.95262 8.46159 5.31946 8.07107 4.92893C7.68054 4.53841 7.04738 4.53841 6.65685 4.92893L0.292893 11.2929ZM24 11L1 11L1 13L24 13L24 11Z" fill="#006DEC")
