svg(xmlns="http://www.w3.org/2000/svg", width="54", height="54", viewBox="0 0 54 54", fill="none")
  mask(id="mask0_469_188", style="mask-type:alpha", maskUnits="userSpaceOnUse", x="0", y="0", width="54", height="54")
    rect(width="54", height="54", fill="#D9D9D9")
  g(mask="url(#mask0_469_188)")
    path(d="M53.7071 27.7071C54.0976 27.3166 54.0976 26.6834 53.7071 26.2929L47.3431 19.9289C46.9526 19.5384 46.3195 19.5384 45.9289 19.9289C45.5384 20.3195 45.5384 20.9526 45.9289 21.3431L51.5858 27L45.9289 32.6569C45.5384 33.0474 45.5384 33.6805 45.9289 34.0711C46.3195 34.4616 46.9526 34.4616 47.3431 34.0711L53.7071 27.707
