block variables

doctype html
html(class=isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		base(href="/")

		title Cristiano unk

		meta(name="description", content="Polymath designer, in a relationship with interactivity.")

		// Ícones e metadados

		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="manifest", href="/site.webmanifest")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="006DEC")
		link(href="/css/main.css", rel="stylesheet")
		meta(name="msapplication-TileColor", content="#B6E5FF")
		meta(name="theme-color", content="#B6E5FF")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		// Metadados para redes sociais

		meta(property="og:type", content="website")
		meta(property="og:title", content="Título da sua página")
		meta(property="og:description", content="Descrição da sua página")
		meta(property="og:image", content="URL da imagem para compartilhamento")
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:title", content="Título do Twitter")
		meta(name="twitter:description", content="Descrição do Twitter")
		meta(name="twitter:image", content="URL da imagem para Twitter")

		body
			include ./partials/preloader
			include ./partials/navigation

			section.content
				block content
