html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

.about, .misc, .project, .intro, .home__fullpage-wrapper, .preloader {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.misc {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
}

.about, .misc, .project, .intro, .home__fullpage-wrapper, .preloader {
  min-width: 100vw;
  min-height: 100vh;
}

.dg.ac {
  z-index: 999999 !important;
}

* {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/intervariable.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/intervariable-italic.woff2") format("woff2");
}
.intro__text__line, .intro__role, .preloader__loader {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 4.25rem;
  line-height: 103%;
}

.about__text__tittle, .misc__title__text {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 103%;
}

.text_tittle {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 103%;
}

.navigation__logo {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 103%;
  text-decoration: none;
}

.project__button_text {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 103%;
}

.text_discription {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 103%;
}

.project-type {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 103%;
}

.navigation__list__link {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 103%;
  text-decoration: none;
}

.footer {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 5%;
}

.navigation {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: fixed;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.navigation__wrapper {
  display: flex;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navigation__logo {
  color: #006DEC;
}

.navigation___icon {
  display: none;
}

.navigation__list {
  display: flex;
  justify-content: right;
  display: flex;
  align-items: flex-start;
  gap: 0.125rem;
  background: #000A22;
  border-radius: 3rem;
}

.navigation__list__item {
  box-sizing: border-box;
  display: flex;
  padding: 0.5rem;
  align-items: flex-start;
  gap: 0.625rem;
}

.navigation__list__link {
  text-align: center;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #FFF;
}

.preloader {
  display: none !important;
  position: absolute;
  display: flex;
  justify-content: left;
  background-color: beige;
}

.preloader__bar {
  background-color: f5f5f5;
  width: 100%;
  height: 25rem;
}

.preloader__loader {
  position: absolute;
  padding-left: 2rem;
  bottom: 2rem;
}

.intro {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 5%;
}

.intro__line__01 {
  display: flex;
  direction: horizontal;
  width: auto;
  height: 5rem;
  gap: 0.8em;
}

.intro__line__02 {
  display: flex;
  direction: horizontal;
  width: auto;
  height: 5rem;
}

.intro__clip {
  height: 5rem;
  overflow: hidden;
}

.intro__role {
  display: flex;
  color: #000A22;
}

.intro__text__line {
  width: auto;
  display: flex;
  direction: horizontal;
  color: #006DEC;
}

.intro__button {
  margin-top: 6em;
  width: auto;
  box-sizing: border-box;
  padding: 0.6rem;
  color: none;
}

.project {
  line-height: 0;
  align-items: center;
  max-width: 100vw;
  box-sizing: border-box;
}

.project__container {
  width: auto;
  height: auto;
}

.project__wrapper {
  width: auto;
  height: auto;
  position: relative;
}

.project__box {
  width: 24rem;
  height: auto;
  position: absolute;
  direction: vertical;
  background-color: white;
  flex-direction: column;
  padding: 2.5em 4em;
  display: flex;
  gap: 18px;
  inset: auto auto 6% 3%;
}

.text_tittle {
  color: #006DEC;
}

.project-type {
  color: #ffffff;
}

.project__discription_type {
  padding: 0.625rem;
  gap: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000A22;
  border-radius: 2.75rem;
  background: #000A22;
  width: fit-content;
}

.project__button_text {
  color: #006DEC;
  align-items: center;
}

.project__background__image {
  max-width: 100vw;
}

.misc {
  overflow: visible;
  background-color: #ffffff;
  flex-direction: column;
}

.misc__wrapper {
  display: flex;
  align-items: center;
}

.misc__navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.misc__title {
  width: 90%;
  margin-bottom: 2%;
  display: flex;
  align-items: flex-start;
}

.misc__title__text {
  color: #006DEC;
}

.misc__gallery__wrapper {
  scroll-snap-align: start;
  scroll-padding: 0 20em;
  padding-left: 5%;
  gap: 1.25rem;
  width: 100vw;
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-bottom: 2.25rem;
}

.misc__gallery__wrapper::-webkit-scrollbar {
  display: none;
}

.slider__scrollbar {
  height: 24px;
  width: 90%;
  display: flex;
  align-items: center;
}

.slider__scrollbar .scrollbar__track {
  height: 4px;
  width: 100%;
  background: #F7F7F7;
  position: relative;
  border-radius: 4px;
}

.slider__scrollbar:hover .scrollbar__track {
  background: #eaeaea;
}

.slider__scrollbar .scrollbar__thumb {
  position: absolute;
  height: 4px;
  width: 28%;
  height: 100%;
  background: #006DEC;
  border-radius: inherit;
  cursor: grab;
}

.slider__scrollbar .scrollbar__thumb:active {
  cursor: grabbing;
  height: 6px;
  top: -1px;
}

.slider__scrollbar .scrollbar__thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  bottom: -40px;
}

.misc__gallery__media {
  flex-shrink: 0;
  display: flex;
}

.misc__gallery__media__image {
  aspect-ratio: 4/3;
  object-fit: cover;
  width: 55rem;
  height: 44rem;
}

.misc__seta__wrapper__right {
  background-color: aliceblue;
  display: flex;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-left: auto;
}

.misc__seta__wrapper__left {
  display: flex;
  height: 5rem;
  width: 5rem;
  align-items: center;
  position: relative;
  background-color: aliceblue;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.misc__icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 680px) {
  .misc__seta__wrapper__right {
    display: none !important;
  }
  .misc__seta__wrapper__let {
    display: none !important;
  }
  .misc__gallery__media__image {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 27.5rem;
    height: 22rem;
  }
}
.about {
  display: flex;
  place-items: center start;
  height: 80vh;
}

.about__wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.about__left__wrapper {
  width: 57%;
  height: 48.5rem;
  place-items: center start;
  flex-wrap: nowrap;
  display: flex;
}

.about__text__tittle {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  position: absolute;
  color: #006DEC;
  padding-left: 5%;
}

.about__img__wrapper {
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.about__bio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.about__discription {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 34.25rem;
  padding-left: 3.625rem;
  padding-right: 3.625rem;
  gap: 8rem;
  flex-grow: 2;
}

.about__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

/*# sourceMappingURL=main.css.map */
