%tittle-68{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 4.25rem;
	line-height: 103%;
}

%tittle-56{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
	line-height: 103%;
}

%tittle-28{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
	line-height: 103%;
}

%tittle-18{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
	line-height: 103%;
	text-decoration: none;
}

%tittle-014{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
	line-height: 103%;
}
