%body-14{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
	line-height: 103%;
}

%body-12{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
	line-height: 103%;
}

%body-10{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
	line-height: 103%;
}

%menu-11{
	font-family: $font-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.6875rem;
	line-height: 103%;
	text-decoration: none;
}
