extends ../base.pug

//- block variables
//- 	- var template = 'home'

//- mixin pageWrapper
//- 	section.home__wrapper

block content
	include ../partials/intro
	include ../partials/project
	include ../partials/misc
	include ../partials/about

	footer
		//- pre.
		//- 	!{JSON.stringify(home, null, 2)}

		include ../partials/footer
