extends ../base.pug

//- block variables
//- 	- var template = 'home'

mixin pageWrapper
	section#page_wrapper.screen

block content
	h1.collections_tittle home



	footer
	//- pre.
	//- 	!{JSON.stringify(home, null, 2)}

	include ../partials/footer
