.about{
	@extend %cover;
	display: flex;
	place-items: center start;
	height: 80vh;

}

.about__wrapper{
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

}

.about__left__wrapper{
	width: 57%;
	height: 48.5rem;
	place-items: center start;
	flex-wrap: nowrap;
	display: flex;


}


.about__text__tittle{
	display: flex;
	justify-content: center;
  flex-basis: auto;
	position: absolute;
	@extend %tittle-56;
	color: $color-blue;
	padding-left: 5%;

}

.about__img__wrapper{
	height: 100%;
	object-fit: cover;
	background-size: cover;

}



.about__bio__image{
	width: 100%;
  height: 100%;
  object-fit: cover;
	background-size: cover;
	background-position: center;
}

.about__discription{
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width:  34.25rem;
	padding-left: 3.625rem;
	padding-right: 3.625rem;
	gap: 8rem;
	flex-grow: 2;

}

.about__text{


}

.about__contact{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;

}


.about__line__01{


}

.about__line__02{

}

.about__email-link{


}

.detail_email{


}

.about__socialmidia{


}

.about__navigation__list{


}

.about__navigation__list__item{


}

.about__text__link{


}

.about__navigation__list__link{


}

.about__detail{


}

.about__serapation{


}

