//intro

.intro{
	@extend %cover;
	box-sizing: border-box;
	display: flex;
	height: 100vh;

}
.intro__wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	padding: 5%;


}
.intro__line__01 {
	display: flex;
	direction: horizontal;
	width: auto;
	height: 5rem;
	gap: 0.8em;
}

.intro__line__02{
	display: flex;
	direction: horizontal;
	width: auto;
	height: 5rem;
}

.intro__clip{
	height: 5rem;
	overflow: hidden;

}
.intro__mover{

}
.intro__role{
	@extend %tittle-68;
	display: flex;
	color: $color-black;

}
.intro__text__line{
	@extend %tittle-68;
	width: auto;
	display: flex;
	direction: horizontal;
	color: $color-blue;

}


//botão

.intro__button{
	margin-top: 6em;
	width: auto;
	box-sizing: border-box;
	padding: 0.6rem;
	color: none;
}
.intro__button__text{

}
