.misc{
	@extend %cover;
	position: relative;
	overflow: hidden;

}

.misc__wrapper{

}

.misc__title{

}
.misc__title__text{

}

.misc__gallery__wrapper{
	align-items: flex-start;
	max-width: 1246px;
	display: flex;
	direction: horizontal;
}


.misc__gallery__media{

}
.misc__gallery__media__image{

}
.misc__seta__wrapper{

}
.misc__icon{

}
